@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    cyberpunk,
    cupcake,
    dracula,
    halloween,
    synthwave,
    business,
    abyss,
    night;
}

* {
  box-sizing: border-box;
  
}

body {

  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 1.875rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
