@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    cyberpunk,
    cupcake,
    dracula,
    halloween,
    synthwave,
    business,
    abyss,
    night;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
}

[data-theme="light"] {
  .slide-text {
    color: #fff;
  }
}

.slide-text {
  font-weight: bold;
  font-size: 2.25rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.875rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
